#include <dt-bindings/zmk/mouse.h>
#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/pointing.h>

&lt {
    tapping-term-ms = <200>;
    flavor = "balanced";
    quick-tap-ms = <150>;
};

/ {
    combos { compatible = "zmk,combos"; };

    behaviors {
        ht: ht {
            compatible = "zmk,behavior-hold-tap";
            label = "HT";
            bindings = <&kp>, <&kp>;

            #binding-cells = <2>;
            tapping-term-ms = <145>;
            quick-tap-ms = <50>;
            require-prior-idle-ms = <50>;
            flavor = "balanced";
        };

        ht_bck: ht_bck {
            compatible = "zmk,behavior-hold-tap";
            label = "HT_BCK";
            bindings = <&kp>, <&kp>;

            #binding-cells = <2>;
            tapping-term-ms = <145>;
            quick-tap-ms = <0>;
            require-prior-idle-ms = <140>;
            flavor = "balanced";
            hold-trigger-key-positions = <12>;
        };

        lhmrow: lhmrow {
            compatible = "zmk,behavior-hold-tap";
            label = "LHMROW";
            bindings = <&kp>, <&kp>;

            #binding-cells = <2>;
            tapping-term-ms = <170>;
            quick-tap-ms = <30>;
            require-prior-idle-ms = <100>;
            flavor = "balanced";
            hold-trigger-key-positions = <6 7 9 10 11 18 19 20 21 22 23 30 31 32 33 34 35 8 39 40 0>;
        };

        rhmrow: rhmrow {
            compatible = "zmk,behavior-hold-tap";
            label = "RHMROW";
            bindings = <&kp>, <&kp>;

            #binding-cells = <2>;
            tapping-term-ms = <170>;
            quick-tap-ms = <30>;
            require-prior-idle-ms = <100>;
            flavor = "balanced";
            hold-trigger-key-positions = <0 1 2 3 4 5 12 13 14 15 16 17 24 25 26 27 28 29 36 37 38>;
        };

        dt_ameth: dt_ameth {
            compatible = "zmk,behavior-tap-dance";
            label = "DT_AMETH";
            #binding-cells = <0>;
            bindings = <&kp LA(LS(O))>, <&kp LA(LS(D))>, <&kp LS(LA(LC(J)))>;

            tapping-term-ms = <180>;
        };
    };

    keymap {
        compatible = "zmk,keymap";

        Colemak {
            bindings = <
&ht LS(TAB) TAB         &ht LG(Q) Q      &ht LG(W) W     &ht LG(F) F       &kp P           &kp G                  &kp J        &kp L           &kp U                &kp Y                    &ht COLON SEMICOLON  &ht PIPE NON_US_BACKSLASH
&ht_bck BSPC BACKSPACE  &lhmrow LCTRL A  &lhmrow LALT R  &lhmrow LSHIFT S  &lhmrow LGUI T  &kp D                  &kp H        &rhmrow RGUI N  &rhmrow RSHFT E      &rhmrow RALT I           &rhmrow RCTRL O      &ht DOUBLE_QUOTES SQT
&kp LSHFT               &ht LG(Z) Z      &ht LG(X) X     &ht LG(C) C       &ht LG(V) V     &ht LG(B) B            &kp K        &kp M           &ht LESS_THAN COMMA  &ht GREATER_THAN PERIOD  &ht QUESTION SLASH   &kp RSHFT
                                                         &mkp LCLK         &mkp RCLK       &mkp MCLK              &lt 1 ENTER  &kp SPACE
            >;
        };

        Numbers {
            bindings = <
&trans       &kp LS(EXCL)                 &kp LS(AT)                   &kp LS(POUND)               &kp LS(DLLR)                 &kp LS(PRCNT)            &kp LS(CARET)   &kp LS(AMPS)          &kp LS(STAR)       &kp LS(LPAR)     &kp LS(RPAR)      &kp CAPSLOCK
&trans       &lhmrow LCTRL NUMBER_1       &lhmrow LALT NUMBER_2        &lhmrow LSHFT NUMBER_3      &lhmrow LGUI NUMBER_4        &kp N5                   &kp NUMBER_6    &rhmrow RGUI N7       &rhmrow RSHIFT N8  &rhmrow RALT N9  &rhmrow RCTRL N0  &ht PLUS EQUAL
&bootloader  &ht LEFT_BRACE LEFT_BRACKET  &ht RIGHT_BRACE RIGHT_BRACE  &ht LS(LA(LC(W))) LC(LEFT)  &ht LS(LC(LA(E))) LC(RIGHT)  &dt_ameth                &ht PLUS EQUAL  &ht UNDERSCORE MINUS  &trans             &trans           &trans            &ht GRAVE TILDE
                                                                       &kp LS(LA(B))               &trans                       &trans                   &trans          &trans
            >;
        };

        Move {
            bindings = <
&trans  &trans  &trans  &trans  &trans  &trans            &trans  &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans            &trans  &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans            &trans  &trans  &trans  &trans  &trans  &trans
                        &trans  &trans  &trans            &trans  &trans
            >;
        };
    };
};
